@import '../global/variables';
@import '../components/theme-palette.scss';
@import '../components/utilities/colors.scss';


html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
